<h1>Team</h1>

<div class="team">
	<div class="row">
		<div class="span2">
			<%= image_tag("van.png", :class => "member_image") %>
		</div>
		<div class="span8">
			<h3 class="member_name">Van Michael</h3>
			<p class="member_bio">Degree in Bachelor of Science in Business Administration. Concentrating in Economics and Information Technology</p>
		</div>
	</div>

</div>