<div class="header">

   <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li>
          <%= link_to "Home", "home" %>
        </li>

        <li>
          <%= link_to "About", "about" %>
        </li>

        <li>
          <%= link_to "Portfolio", "portfolio" %>
        </li>
</div>

<div>
  <%= image_tag('header_banner.png', :id => "header_banner") %>
</div>